* {
    box-sizing: border-box;
}

footer {
    display: flex;
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
  }

.card {
    box-shadow: 2px 2px 10px 2px rgb(169, 169, 169);
}

.min_width_300 {
    margin-top: 10px;
    min-width: 300px;
}

.btn_login {
    width: 100%;
}

input {
    border-radius: 5px;
}

.main_img {
    width: 100%;
    min-width: 100px;
    max-width: 20rem;
}

.main-row {
    margin-top: 20%;
    margin-bottom: 20%;
}

@media (max-width: 992px) {
    .main-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }

    .main_img {
        width: 100%;
        height: 100%;
    }
}

.fade-in {
    animation: fade-in 1s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.form-text-left{
    text-align: left;
}